.heading{
     
    height:50px;
    width:100%;
    background-color: white;

}
h2{
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float:left;
    margin-top: 10px;
    left:85px;
    position:absolute;
    font-size: 30px;
}
#image{
    height: 28px;
    width: 33px;
    margin-top: 14px;
    left: 1214px;
    position: relative
}
body{
    margin:0px;
}
#search{
    
    width:100%;
    height:238px;
}
#quicksearch{
    
    width:100%;
    height:518px; 
    background-color: rgb(53, 172, 126);
}
#footer{
    
    width:100%;
    height:171px; 
    margin-top: -3px;
    background-color: black;

}
#coffee{
    height: 32px;
    width:5%;
    animation: dance 10s infinite;
}
@keyframes dance{
    0% {transform:rotate(-5deg)}
    25% {transform:rotate(0deg)}
    40% {transform:scale(1.3)}
    50% {transform:rotate(5deg)}
    75% {transform:rotate(0deg)}
    100% {transform:rotate(-5deg)}
}
.icon{
    border-radius: 10px;
    margin-top: -31px;
margin-left: 3px;

    

}

#starbucks{
    width:100%;
    height:315px;
}
.home{
   float:left;
   margin-top: -27px;
   margin-left: 279px;
}
.move{
    margin-left: 123px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color:black;
    
}
#button1{
    background-color: #32a873;
    height: 30px;
    width: 87px;
    margin-left: 64px;
    left: 59px;
    position: relative;
    top: -3px;
    border:2px solid black;
    border-radius: 21px;
}
.enter{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#button1:hover{
    background-color: white;
}
.box{
    
    margin-top: 125px;
    border: 2px solid black;
    height: 415px;
    width: 32%;
    margin-left: 395px;
    border-radius: 10px;
    background-color: #32a873;
}
.text{
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top:5px;
    font-size: 22px;
}
.username{
    display:block;
}
.details{

    margin-left: 124px;
    margin-top: 122px;
    border-radius: 7px;
}
.access{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
#pass{
    background-color: white;
    border-radius: 7px;
    border-color: black;
    width: 83px;
    margin-top: 58px;
    margin-left: 161px;
   
}
#pass:hover{
    background-color:#198554 ;
}
.access:hover{
    color:white;
}
.footer{
    text-align: center;
}
.background{
    background:url("https://wallpapercave.com/wp/wp7124716.jpg")
}
.enter:hover{
    color:#198554;
}
#map{
    
    width:100%;
    height:171px; 

}
#selection{
    height: 30px;
    width: 40%;
    margin-top: -214px;
    margin-left: 827px;
    
}
#choose{
    font-weight: bold;
    height: 39px;
    width: 46%;
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}
#quotes{
  
    color: ghostwhite;
    font-weight: bold;
    margin-top: -109px;
    margin-left: 7px;
    font-size: 43px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#box{
    height: 122px;
    width: 29%;
    border-radius: 57px;
    margin-top: 81px;
    top: 75px;
    position: relative;
    float: left;
    margin-left: 30px;
    left: 10px;
    display: inline-block;
    background-color:white;
    box-shadow: 19px 33px 30px;
    animation: dance 10s infinite;

}
@keyframes dance{
    0% {transform:rotate(-5deg)}
    25% {transform:rotate(0deg)}
    40% {transform:scale(1.1)}
    50% {transform:rotate(5deg)}
    75% {transform:rotate(0deg)}
    100% {transform:rotate(-5deg)}
}
#alter{
    height: 122px;
    width: 199%;
}
#scroll{
    height: 30px;
    width: 30%;
}
.format{
    text-decoration: none;
    float: left;
    font-size: 19px;
    margin-left: 62%;
    margin-top: -66px;
    position: absolute;
    font-weight: bold;
    color: black;


}
.format:hover{
    color:green;
}
#map-align{
    width: 100%;
    height:168px;
    margin-left: -1px;
    
}
#address{
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    width: 30%;
    margin-top: -54px;
    margin-left: 15px;
}
#footer-align{
    background-color:black;
    
    width: 20%;
    height: 167px;
    margin-top: 0px;
    margin-left: 35px;
    left: 47px;
    position: relative;
    float: left;
    
}
#about{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: -17px;
    margin-left: -42px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#order{
    margin-left: 10px;
    margin-top: 10px;
}
.over{
    margin-left: -16px;
    margin-top: 10px;
    top: 29px;
    position: relative;
    color:white;
}
ul{
    list-style-type: none;
    
}
#copyright{
    
    background-color: black;
    height: 19px;
    width: 33%;
    float: right;
    margin-top: 132px;
    right: 11px;
    position: absolute
}
#font{
    color: white;
}
.circle{
    background-color: white;
    width: 8%;
    height: 68px;
    position: relative;
    margin-top: 168px;
    margin-left: 6px;
    border-radius: 64px;
    animation: revolve 10s infinite;
    
}
@keyframes revolve{
    0% {
        transform:rotate(30deg);
        margin-left: 2%;
    }
    15% {
        transform:rotate(60deg);
        margin-left: 20%;
    }
    30% {
        transform:rotate(90deg);
        margin-left: 40%;
    }
    45% {
        transform:rotate(120deg);
        margin-left: 60%;
    }
    60% {
        transform:rotate(150deg);
        margin-right: 2%;
    }
    75% {
        transform:rotate(180deg);
        margin-right: 20%;
    }
    80% {
        transform:rotate(250deg);
        margin-right: 40%;
    }
    100% {
        transform:rotate(360deg);
        margin-right: 60%;
    }
}
.round{
    background-color: black;
    width: 89%;
    height: 58px;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 64px;
    position: absolute;
}
.revolve{
    font-size: 36px;
    font-weight: bold;
    color: #198554;
    margin-top: 5px;
    margin-left: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    

    


